@model RZA.Models.Word

@{
    ViewData["Title"] = "Details";
}

<h1>D E T A L L E S</h1>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.secret)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">E D I T A R</a> |
    <a asp-action="Index">V O L V E R</a>
</div>
